<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <!--HandsOnTable-->
  <script src='/jquery/jquery-3.3.1.min.js'></script>

  <script src='/bootstrap/3.3.7/js/bootstrap.min.js'></script>
  <link rel='stylesheet' href='/bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/bootstrap/3.3.7/css/bootstrap-theme.min.css'>
  <link rel='stylesheet' href='/default.css'>
</head>

<body>
  <div id='changepassword'>
    <div>[ #USER# ] Change Password </div>
    <input id="password" type="password" name="p" placeholder="New password" required="required" tabindex="5" />
    <input id="password2" type="password" name="p" placeholder="Confirm Password" required="required" tabindex="6" />
    <button onclick="ChangePassword()">Change</button>
  </div>
  <div id='Error'>
    Warning :Maybe 
    1. User ID Invalid
    2. OTP Not Generated
    3. OTP Exprired
  </div>
  <script>
    window.addEventListener('DOMContentLoaded', function () {
    if (#RESULT#) {
        $('#changepassword').show();
        $('#Error').hide();
      } else {
        $('#changepassword').hide();
        $('#Error').show();
      }
    })
      
    function ChangePassword() {
      if (document.getElementById('password').value === document.getElementById('password2').value) {
        jQuery.post('/ChangePassword', { mode: "setPassword", otp: '#UUID#', user: '#USER#', password: document.getElementById('password').value }, function (result) {
          console.log(result)
        })
      }

    }
  </script>
</body>

</html>